<h1>
  Place your bet
</h1>

<p>Enter betting amount:</p>

<form action="/bet" method="post">
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" name="bet" class="form-control"
    aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon">.00</span>
  </div>

  <button class="col-sm-6" type="Submit">Submit</button>
</form>

