<h1>Make your move</h1>
<form action="/blackjack" method="post">
  <input type="radio" name="move" value="hit">Hit</input>
  <input type="radio" name="move" value="stay">Stay</input>
  <input type="submit" value="Submit">
</form>

