<h1>Make your move</h1>
<div class="dealer">
  <% dealer_hand.each do |card| %>
    <%= card[0] %> <%= card[1] %>
  <% end %>
</div>
<div class="player" >
  <% player_hand.each do |card| %>
    <%= card[0] %> <%= card[1] %>
  <% end %>
</div>

<form action="/blackjack" method="get">
  <button name="playagain" type="submit" value="playagain">Play Again?</button>
</form>

